body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 70px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f8f9fa;
  font-weight: lighter;
}

.card-img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card-img img {
  width: 225px;
  height: 170px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  opacity: 0.88;
  cursor: pointer;
}

.card-img {
  position: relative;
  width: 230px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-img:hover .overlay {
  opacity: 1;
}
