/* This file handles all the media queries associated with the landing page, though
there is not much to see */

@media only screen and (max-width: 621px) {
  .carousel-caption {
    /* background-color: blue; */
    display: none;
  }
  /* .carousel-caption h5 {
    display: none;
  } */

  .carousel-caption p {
    display: none;
  }

  /* .carousel-caption button {
    display: none;
  } */
}

@media only screen and (max-width: 511px) {
  .carousel-item img {
    object-fit: cover;
  }
}
